<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block extralink %}
    {% endblock extralink %}
    <title>{% block titulo %}Django - SIMCE{% endblock titulo %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% load static %}{%static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% load static %}{%static 'css/main.css' %}" /> 

    {% block extracss %}
    {% endblock extracss %}
    <!-- External JS libraries -->
    <!--script src="https://d3js.org/d3.v4.min.js"></script-->
    <script src='{% load static %}{% static "js/jquery.min.js" %}'></script>
    <script src='{% load static %}{% static "js/bootstrap.min.js" %}'></script>
    <script src='{% load static %}{% static "js/d3.v5.min.js" %}'></script>
</head>
<body>

    {% block body %}
    <div class="container">
        <h1 class="text-center">Pagina de inicio del proyecto</h1>
    </div>
    {% endblock body %}

    {% block extrajs %}
    {% endblock extrajs %}
    {% block extrascript %}
    {% endblock extrascript %}
</body>
</html>