{% extends 'index.html' %}
{% block extralink %}

<!-- Custom styling -->
<link rel="stylesheet" href='{% load static %}{% static "css/style.css" %}'>
{% endblock extralink %}
{% block titulo %}
Gapminder Clone
{% endblock titulo %}
{% block extrascript %}
{% endblock extrascript %}
{% block body %}
<nav class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" href="#">{% load static %}<img id="logo" src='{% static "img/logo.png" %}'></a>
    </div>
</nav>

<!-- Bootstrap grid setup -->
<div class="container">
    <div class="row">
        <div id="chart-area" width="1000" , height="660"></div>
    </div>
</div>

{% endblock body %}

{% block extrajs %}
<!-- Custom JS -->
<script src='{% load static %}{% static "js/main_gapminder.js" %}'></script>
{% endblock extrajs %}