{% extends 'index.html' %}

{% block titulo %}
    Listado de Centros de Trabajo
{% endblock %}

{% block head_content %}
    <h1 class="text-center">Listado de centros de trabajo</h1>
{% endblock %}

{% block body %}
    {% if centrostrabajo %}
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Clave Centro de Trabajo</th>
                    <th>Dato Geométrico</th>
                </tr>
            </thead>
            <tbody>
                {% for centro in centrostrabajo %}
                    <tr>
                        <td>{{ centro.ipkcentrotrabajo }}</td>
                        <td>{{ centro.cclavecentrotrabajo }}</td>
                        <td>{{ centro.the_geom }}</td>
                    </tr>
                {% endfor %}
                <tr></tr>
            </tbody>
        </table>
    {% else %}
        <h2>No existen Centros de Trabajo registrados </h2>
    {% endif %}
{% endblock %}