{% extends 'index.html' %}

{% block titulo %}
    Listado de Turnos
{% endblock %}

{% block head_content %}
<h1 class="text-center">Listado de turnos escolares</h1>
{% endblock %}

{% block body %}
    {% if turnosescolares %}
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Turnos Escolares</th>
                </tr>
            </thead>
            <tbody>
                {% for turno in turnosescolares %}
                    <tr>
                        <td>{{ turno.ipkturnoescolar }}</td>
                        <td>{{ turno.cnombreturnoescolar }}</td>
                    </tr>
                {% endfor %}
                <tr></tr>
            </tbody>
        </table>
    {% else %}
        <h2>No existen turnos registrados </h2>
    {% endif %}
{% endblock %}