{% extends 'index.html' %}

{% block titulo %}
    Listado de Ciclos Escolares
{% endblock %}

{% block head_content %}
<h1 class="text-center">Listado de ciclos escolares</h1>
{% endblock %}

{% block body %}
    {% if ciclosescolares %}
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ciclos Escolares</th>
                </tr>
            </thead>
            <tbody>
                {% for ciclo in ciclosescolares %}
                    <tr>
                        <td>{{ ciclo.ipkcicloescolar }}</td>
                        <td>{{ ciclo.ccicloescolar }}</td>
                    </tr>
                {% endfor %}
                <tr></tr>
            </tbody>
        </table>
    {% else %}
        <h2>No existen ciclos registrados </h2>
    {% endif %}
{% endblock %}