{% extends 'index.html' %}

{% block titulo %}
    Listado de Extensiónes EMS
{% endblock titulo %}
{% block body %}
    {% if extensionesems %}
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Extensiones EMS</th>
                </tr>
            </thead>
            <tbody>
                {% for ext in extensionesems %}
                    <tr>
                        <td>{{ ext.ipkextensionems }}</td>
                        <td>{{ ext.cnombreextensionems }}</td>
                    </tr>
                {% endfor %}
                <tr></tr>
            </tbody>
        </table>
    {% else %}
        <h2>No existen extensiones EMS registradas </h2>
    {% endif %}
{% endblock body %}